* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.container {
    width: 75%;
    display: flex;
    flex-direction: column;
}

.head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.logo {
    display: flex;
    align-items: center;
}


ul {
    padding: 0;
    display: flex;
    gap: 18px;
    list-style: none;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

a:hover {
    color: #3882f6;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.headerlink, .herosubtext {
    font-size: 18px;
    color: #e5e7eb;
}

.herotitle, .infotitle {
    font-weight: 800;
}

.herotitle {
    font-size: 48px;
    color: #f9faf8;
}


.herocontent {
    display: flex;
    gap: 15px;
    justify-content: space-between;
}

.leftcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: flex-start;
}


.imgcontainer > * {
    height: 400px;
    background-color: #e5e7eb;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 20px;
    font-weight: bold;
    padding: 6px 28px;
    border-radius: 8px;
    border-style: none;
}

.infosection {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 80px;
}

.infotitle {
    padding: 50px 0;
    font-size: 36px;
    color: #1f2937;
}

.informations {
    display: flex;
    gap: 20px;
}

.container.info {
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    flex: 1 1 auto;
}

.info {
    gap: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info > img {
    border: 4px solid #3882f6;
    border-radius: 12px;
    width: 186px;
}

.text {
    width: 186px;
    font-size: 20px;
    text-align: center;
}

